
html {
  /* max-width: 1200px; */
  margin: auto;
}

#sticky-nav-con {
  background-color: white;
  position: sticky;
  top: -20px;
  z-index: 1;
  padding-bottom: 0px;
  padding-left: 20px;
}

body {
  color: black;
  font-family: 'Galvji', sans-serif;
}

a {
  text-decoration: none;
}

input, textarea {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*Index page mobile*/

#sticky-nav-con {
  z-index: 1;
}

#main-nav {
  margin-bottom: 10px;
}


#main-nav button {
  background: url(../images/hamburger-menu.svg) no-repeat center;
  width: 30px;
  height: 30px;
  border: none;
  transition: all .5s ease;
  cursor: pointer;
  margin-top: 35px;
}

#main-nav button.expanded {
  transform: rotate(90deg);
  background-color: #ffffff;
  display: block;
}


#main-nav {
  justify-self: center;
  padding-bottom: 40px;
}

#burger-con {
  position: absolute;
  width: 150px;
  height: 300px;
  box-shadow: 2px 1px 15px #979597;
  background-color: rgba(255, 255, 255, 0.95);
  top: 100px;
  left: 18px;
  z-index: 1;
}

#burger-con ul {
  text-align: left;
  margin: 0 20px 10px -15px;
}
  
#burger-con li {
  padding: 20px 0;
}

#burger-con ul li a {
  color: #FF6C00;
  font-size: 15px;
}

#burger-con ul li a:hover {
  color: #000000;
}

#logo {
  justify-self: center;
  margin-top: 40px;
  cursor: pointer;
}

#logo object {
  width: 300px;
}

#hero-video {
  grid-column: 1/-1;
  margin-left: 0px;
}

.vertical_text {
  writing-mode: vertical-rl;
  letter-spacing: 4px;
  margin-top: 130px;
  margin-left: 30px;
  color: black;
  font-size: 40px; 
  font-weight: 800; 
}

.contact-icon {
  display: flex;               
  justify-content: center;     
  align-items: center; 
  margin-left: 260px; 
  margin-top: 50px;        
  gap: 50px;                
}

.icon {
  max-width: 100%;      
  height: 70px; 
  transition: transform 0.3s ease, fill 0.3s ease;   
}

a:hover .icon {
  transform: scale(0.7);
}



/*Body*/
#about-me {
  background-color: #D8D8D8;
  margin-top: 130px;
  margin-left: 100px;
  padding-bottom: 40px;
  padding-top: 60px;
  padding-left: 70px;
}

#about-me h3 {
  margin-left: -280px;
  margin-top: 180px;
  transform: rotate(-90deg);
  letter-spacing: 4px;
  color: black;
  font-size: 80px; 
  position: absolute;
}

#about-me p {
  font-family: 'Galvji', sans-serif;
  font-size: 14px;
  color: black;
  margin-right: 35px;
  line-height: 25px;
  text-align: center;
}

#collection-image {
  padding: 0px 15px 20px;
}

#experience {
  background-color: #D8D8D8;
  height: 550px;
  width: 400px;
  margin-left: -15px;
}

#experience h3 {
  margin-top: 130px;
  margin-left: -10px;
  letter-spacing: 4px;
  color: black;
  font-size: 70px; 
}

#showroom {
 margin-left: -20px;
 margin-top: -420px;
 max-width: 95%;
}
#showroom p {
font-family: 'Galvji', sans-serif;
font-size: 14px;
color: black;
line-height: 25px;
 margin-right: 100px;
 margin-left: 50px;
 margin-top: 100px;
}

#mens {
  margin-top: 130px;
  margin-left: 100px;
  padding-bottom: 40px;
  padding-top: 60px;
  padding-left: 70px;
}

#mens h3 {
  margin-left: -230px;
  margin-top: 65px;
  transform: rotate(-90deg);
  letter-spacing: 4px;
  color: black;
  font-size: 90px; 
  position: absolute;
}

#mens-image {
  max-width: 95%;
  margin-top: -50px;
}

#mens-image p {
  font-family: 'Galvji', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 25px;
  margin-left: -120px;
  margin-top: 20px;
}

#womens {
  margin-top: 180px;
  margin-left: -30px;
  margin-right: 100px;
  padding-bottom: 30px;
  padding-top: 60px;
  
}

#womens h3 {
  margin-left: 180px;
  margin-top: -460px;
  transform: rotate(-90deg);
  letter-spacing: 4px;
  color: black;
  font-size: 90px; 
  position: absolute;
}

#womens-image {
  max-width: 80%;
  margin-top: -150px;
}

#womens-image p {
  font-family: 'Galvji', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 25px;
  margin-left: 20px;
}

#multi h3 {
  margin-top: 130px;
  margin-left: -10px;
  color: black;
  font-size: 70px; 
}

#burple-video {
  max-width: 100%;
}

#burple p {
  font-family: 'Galvji', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 25px;
  margin-left: 20px;
  margin-top: 15px;
}

#multi-2 h3 {
  margin-top: 120px;
  margin-left: -10px;
  color: black;
  font-size: 70px; 
}

#earbuds-image {
  max-width: 80%;
  margin-left: -12px;
}

#earbuds-image p {
  font-family: 'Galvji', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 25px;
  margin-left: 20px;
  margin-top: 15px;
}



/* tablet */
@media screen and (min-width: 768px) {

  #main-nav button {
      display: none;
  }

  #sticky-nav-con {
    background-color: white;
    position: sticky;
    top: -30px;
    z-index: 1;
    padding-bottom: 10px;
    padding-left: 20px;
}

  #main-nav {
      background-color: white;
      justify-self: right;
      align-self: self-end;
      z-index: 1;
      grid-row-start: 1;
      padding-bottom: 0;
      margin-top: 40px;

  }

  #burger-con {
      display: inline;
      position: inherit;
      width: 0;
      height: 0;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
  }
      
  #burger-con ul li {
      padding: 0;
      border-bottom: 0;
      display: inline;
  }
  
  #burger-con ul li a {
      color: #FF6C00;
      font-size: 18px;
      padding-left: 35px;
  }
      

  #logo {
      justify-self: left;
      width: 400px;
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 2;
  }

  #logo object {
      width: 650px;
      padding: 0 0;
  }

  #main-header {
      order: 2;
  }

#hero-video {
  scale: 95%;
}

  .vertical_text {
      padding-top: 20px;
      font-size: 60px;
  }

  .flex-container-contact {
      margin-right: -550px;
  }

   #about-me h3 {
      font-size: 100px; 
      margin-top: 66px; 
      margin-left: -300px;  
  }

  #collection-image {
    width: 80%;
    margin-left: -15px;
  }

  #experience h3 {
    font-size: 100px;
    margin-left: 10px;  
}

  #showroom {
  width: 80%;
  margin-left: 132px;
}

  #showroom p {
  font-family: 'Galvji', sans-serif;
  font-size: 15px;
  color: black;
  line-height: 35px;
  margin-top: 10px;
}

#mens h3 {
  font-size: 100px;
}

#mens-image {
  width: 80%;
}

#mens-image p {
  font-size: 15px;
  color: black;
  margin-top: 10px;
  margin-left: 2px;
}

#womens h3 {
  font-size: 100px;
  margin-left: 600px;
  margin-top: -670px;
}

#womens-image {
  width: 75%;
}

#womens-image p {
  font-size: 15px;
}

#multi h3 {
  font-size: 100px;
}

#burple-video {
  scale: 85%;
  margin-top: -30px;
}

#burple p{
  font-size: 15px;
  color: black;
  margin-top: -30px;
}

#multi-2 h3 {
  font-size: 100px;
  }
}


/* Desktop */
@media screen and (min-width: 1200px) {
  
  #main-nav button {
    display: none;
}

#sticky-nav-con {
    background-color: white;
    position: sticky;
    top: -30px;
    z-index: 1;
    padding-bottom: 10px;
    padding-left: 20px;
}

#main-nav {
    background-color: white;
    justify-self: right;
    align-self: self-end;
    z-index: 1;
    grid-row-start: 1;
    padding-bottom: 0;
    margin-top: 40px;

}

#burger-con {
    display: inline;
    position: inherit;
    width: 0;
    height: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}
    
#burger-con ul li {
    padding: 0;
    border-bottom: 0;
    display: inline;
}

#burger-con ul li a {
    color: #FF6C00;
    font-size: 20px;
    padding-left: 35px;
}
    

#logo {
    justify-self: left;
    width: 500px;
    margin-bottom: 0;
    grid-row-start: 1;
    grid-row-end: 2;
}

#logo object {
    width: 650px;
    padding: 0 0;
}

#main-header {
    order: 2;
}

#hero-video {
scale: 85%;
}

.vertical_text {
    padding-top: 20px;
    font-size: 60px;
}

.flex-container-contact {
    margin-right: -550px;
}

 #about-me h3 {
    font-size: 100px; 
    margin-top: 66px; 
    margin-left: -300px;  
}

#about-me p {
font-family: 'Galvji', sans-serif;
font-size: 16px;
line-height: 35px;
}

#collection-image {
  width: 75%;
  margin-left: -15px;
}

#experience h3 {
  font-size: 100px;
  margin-left: 10px;  
}

#showroom {
width: 70%;
margin-left: 132px;
}

#showroom p {
font-size: 16px;
line-height: 35px;
margin-top: 10px;
}

#mens h3 {
font-size: 100px;
}

#mens-image {
width: 70%;
}

#mens-image p {
line-height: 35px;
font-size: 16px;
margin-top: 10px;
margin-left: 2px;
}

#womens h3 {
font-size: 100px;
margin-left: 800px;
margin-top: -670px;
}

#womens-image {
  width: 70%;
  margin-left: 30px;
  }

#womens-image p {
font-size: 16px;
line-height: 35px;
}

#multi h3 {
font-size: 100px;
}

#burple-video {
scale: 75%;
margin-top: -30px;
}

#burple p{
font-size: 16px;
line-height: 35px;
margin-top: -80px;
}
#multi-2 h3 {
  font-size: 100px;
  }

#earbuds-image {
  width: 65%;
}

#earbuds-image p {
  font-size: 16px;
  line-height: 35px;
  }
}


