@use 'fonts';

$primary-color: #F0D909; 
$secondary-color: #F73D05; /
$body-text-color: black; 
$heading-font-family: 'Galvji', Helvetica, Arial, sans-serif; 
$body-font-family: 'Galvji', Helvetica, Arial, sans-serif; 


h2 {
  color: red;
}