@import 'variables';

html {
  /* max-width: 1200px; */
  margin: auto;
}



/* tablet */
@media screen and (min-width: 768px) {

  #main-nav button {
      display: none;
  }

  #sticky-nav-con {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: -15px;
    padding-bottom: 20px;
}

// menu background
  #main-nav {
      background-color: transparent;
      justify-self: right;
      align-self: self-end;
      z-index: 1;
  }

  // menu
  #burger-con {
      display: inline;
      position: inherit;
      width: 0;
      height: 0;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
  }
      
  #burger-con ul li {
      padding: 0;
      border-bottom: 0;
      display: inline;
  }
  
  #burger-con ul li a {
      font-size: 14px;
      padding-left: 30px;
  }
      

  #logo {
      justify-self: left;
      width: 300px;
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 2;
  }


#hero-video {
  scale: 90%;
  margin-top: -20px;
}

  .vertical_text {
      padding-top: 20px;
      font-size: 45px;
      letter-spacing: 20px;
  }

  .flex-container-contact {
      margin-right: -550px;
  }

  .contact-icon{
    margin-left: 480px;
  }

// About section
   #about-me h3 {
      font-size: 90px; 
      letter-spacing: 4px;
      margin-top: -10px; 
      margin-left: -280px; 
  }

  #about-me p {
      font-size: 14px;
      line-height: 35px;
  }

  #collection-image {
    width: 75%;
    margin-left: -15px;
    margin-bottom: 80px;
  }


// Experience section
#experience {
  width: 650px;
  margin-left: -15px;

  h3 {
    font-size: 80px;
  }
}

#showroom {
  width: 70%;
  margin-left: 250px;
}

#showroom p {
    font-size: 14px;
    line-height: 35px;
    margin-left: -180px;
    margin-top: -110px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px 20px 30px;
    position: relative;
    margin-bottom: 80px;
  }


// Mens section
#mens h3 {
  font-size: 100px;
  margin-left: -180px;
}

#mens-image {
  width: 80%;
  margin-left: 60px;
}

#mens-image p {
  font-size: 14px;
  line-height: 35px;
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 50px;
}


// Womens section
#womens h3 {
  font-size: 100px;
  margin-left: 600px;
  margin-top: -670px;
}

#womens-image {
  width: 80%;
  margin-left: 20px;
}

#womens-image p {
  font-size: 14px;
  line-height: 35px;
  padding: 30px;
}


// Burple section
#multi h3 {
  font-size: 100px;
}

#burple-video {
  scale: 85%;
  margin-top: -30px;
}

#burple p{
  font-size: 14px;
  line-height: 35px;
  margin-top: -30px;
  padding: 50px 50px 20px 50px;
}

// earbuds section
#multi-2 h3 {
  font-size: 100px;
  }

  #earbuds-image {
    margin-left: 10px;
  }

  #earbuds-image p {
    font-size: 14px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 50px;
    margin-left: 0;
    position: relative;
    margin-bottom: 100px;
  }
}


/* Desktop */
@media screen and (min-width: 1200px) {

  #main-nav button {
      display: none;
  }

  #sticky-nav-con {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: -15px;
    padding-bottom: 20px;
}

// menu background
  #main-nav {
      background-color: transparent;
      justify-self: right;
      align-self: self-end;
      z-index: 1;
  }

  // menu
  #burger-con {
      display: inline;
      position: inherit;
      width: 0;
      height: 0;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
  }
      
  #burger-con ul li {
      padding: 0;
      border-bottom: 0;
      display: inline;
  }
  
  #burger-con ul li a {
      font-size: 16px;
      padding-left: 30px;
  }
      

  #logo {
      justify-self: left;
      width: 300px;
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 2;
  }


#hero-video {
  scale: 90%;
  margin-top: -22px;
}

  .vertical_text {
      padding-top: 40px;
      font-size: 50px;
      letter-spacing: 20px;
      margin-left: 80px;
  }

  .flex-container-contact {
      margin-right: -550px;
  }

// About section
   #about-me h3 {
      font-size: 100px; 
      letter-spacing: 4px;
      margin-top: -10px; 
      margin-left: -300px; 
  }

  #about-me p {
      font-size: 15px;
      line-height: 35px;
  }

  #collection-image {
    width: 75%;
    margin-left: -15px;
    margin-bottom: 80px;
  }


// Experience section
#experience {
  width: 650px;
  margin-left: -15px;

  h3 {
    font-size: 90px;
  }
}

#showroom {
  width: 70%;
  margin-left: 250px;
}

#showroom p {
    font-size: 15px;
    line-height: 35px;
    margin-left: -180px;
    margin-top: -110px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px 20px 30px;
    position: relative;
    margin-bottom: 80px;
  }


// Mens section
#mens h3 {
  font-size: 100px;
  margin-left: -180px;
}

#mens-image {
  width: 70%;
  margin-left: 60px;
}

#mens-image p {
  font-size: 15px;
  line-height: 35px;
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 50px;
}


// Womens section
#womens h3 {
  font-size: 100px;
  margin-left: 750px;
  margin-top: -870px;
}

#womens-image {
  width: 70%;
  margin-left: 20px;
}

#womens-image p {
  font-size: 15px;
  line-height: 35px;
  padding: 30px;
}


// Burple section
#multi h3 {
  font-size: 100px;
}

#burple-video {
  scale: 80%;
  margin-top: -30px;
}

#burple p{
  font-size: 15px;
  line-height: 35px;
  margin-top: -30px;
  padding: 50px 50px 20px 50px;
}

// earbuds section
#multi-2 h3 {
  font-size: 100px;
  }

  #earbuds-image {
    margin-left: 10px;
    margin-top: 40px;
  }

  #earbuds-image p {
    font-size: 15px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 50px;
    margin-left: 0;
    position: relative;
    margin-bottom: 180px;
  }
  .contact-icon{
    margin-left: 680px;
  }
}