@charset "UTF-8";

//have to include all of these otherwise main.css will be empty
//We do not create styles in here

@import 'contact';
@import 'images';
@import 'typography';
@import 'variables';
@import 'video';


body {
  background-color: white; 
  font-family: $body-font-family; // from variable 
  color: $body-text-color; // from variable 
  margin: 0; 
  padding: 0;
}