@use '../variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Galvji:wght@400;700&display=swap');

// Font-family
body {
  font-family: v.$heading-font-family;
  color: v.$body-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: v.$heading-color;
}

// Menu styles
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  font-family: v.$font-primary;
  font-size: 16px;
  letter-spacing: 5px;
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: v.$text-color;
}

.nav-item a:hover {
  color: v.$hover-color;
  text-decoration: underline;
}