
$primary-color: black; 
$secondary-color: #FF6C00;
$hover-color: black;
$body-text-color: black; 
$heading-font-family: 'Galvji', Helvetica, Arial, sans-serif; 
$body-font-family: 'Galvji', Helvetica, Arial, sans-serif; 

